.pw-navbar {
	display: flex;
	justify-content: space-between;
	background: $primary-color;
	position: sticky;
	top: 0;
	color: $white;

	.pw-navbar-section {
		background: $primary-darker-color;
		padding: $padding;
	}
}
