.pw-form {
    display: flex;
    flex-direction: column;

    .pw-field {
        padding: $padding;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .pw-label, .pw-input, .pw-submit {
        padding: $padding;
        outline: 0;
    }

    .pw-label::before {
        width: 20px;
        text-align: center;
    }

	.pw-input {
		border: 1px solid;
		padding: $padding;
        flex-grow: 1;
        border: 0;
        border-bottom: 2px solid;

		&:focus, &:focus ~ .pw-label {
			color: $blue-70;
		}
	}

    .pw-submit {
        -webkit-appearance: none;
        background: $white;
    }
}
